.main-header {
    background-color: var(--clr1);
    /* height: 6rem; */
    height: 9vh;
    overflow: hidden;
    margin-bottom: 90px;
    padding-left: 30px;
}

.main-logo {
    width: min-content;
    height: 70%;
}

.main-header .main-nav-container .main-nav>* {
    margin-inline-end: 80px;
}

.main-header a{
    height: 9vh;
    border-inline-end: 1px solid var(--clr10);
}

.main-header .main-nav-container .main-nav li:hover {
    box-shadow: inset 0px -6px 0 black;

}