.main-app-container {
    min-height: 81vh;
}

.meme-editor-container {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.btn-img {
    height: 50px;
    width: 50px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
}

.canvas-container {
    width: 35vw;
}

.meme-canvas{
    display: block;
    margin: 0 auto;
    background-color: white;
}

.editor-panel {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 10px;
}

#meme-text {
    grid-column: span 4;
}